body {
background-color:#121823;
margin:0;
padding:0;
font-family: "IBM Plex Serif", serif;
font-weight: 400;
font-optical-sizing: auto;
color:#ffffff;
}

/* ibm-plex-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ibm-plex-serif-v20-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3, h4 {
padding: 8px;
}

p {
font-weight: 400;
padding: 8px;
}


.nav {
width: 100vw;
background-color:#121823;
display:flex;
align-items:center;
justify-content:center;
}

.nav a {
color: #f2f2f2;
text-align: center;
padding: 1rem 0.5rem;
text-decoration: none;
}



/* Change the color of links on hover */
.nav a:hover:not(:nth-child(1)) {
background-color: #ddd;
color: black;
}

/* Add an active class to highlight the current page */
.nav a.active {
background-color: white;
color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
display: none;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
.nav {display:block;}
.nav a:not(:first-child) {display: none;}
.svg-phone{display:none;}
.nav a.icon {
float: right;
display: block;
padding:1rem;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
.nav.responsive {position: relative;}
.nav.responsive a.icon {
position: absolute;
right: 0;
top: 0;
}
.nav.responsive a {
float: none;
display: block;
text-align: center;
}
}

.serv-link{
    margin-left:auto;
}

.logo {
justify-self:end;
height:15vh;

}
.home {
justify-self:start;
align-self:center;

}

.hero{
color:#E8E2D8;
position:relative;
padding:2rem;
}

.wrap {
overflow: hidden;
position: relative;
}

.hero-background {
opacity: 0.3;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: auto;
}

.hero-layout {
position: relative;
display: grid;
grid:
". hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text ." 1fr
". hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons . . . . ." 0.5fr
". card1 card1 card1 card2 card2 card2 card3 card3 card3 . ." 0.5fr
". hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom" 0.25fr
" . fine fine fine fine fine fine fine fine fine fine ."
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap:8px;
}

.hero-text {
    width:100%;
    grid-area: hero-text;}
.hero-buttons { grid-area: hero-buttons; }
.empty-button { grid-area: empty-button; }
.sm-card1 { grid-area: card1;}
.sm-card2 { grid-area: card2;}
.sm-card3 { grid-area: card3;}
.empty-card{grid-area: empty-card;}
.hero-text-bottom { grid-area: hero-text-bottom;
display:flex;
flex-direction:row;
}
.fine {grid-area: fine;}

.hero-header{
    font-size:2.5rem;
}
.sm-card1, .sm-card2, .sm-card3, .sm-card4, .sm-card5 {
background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
color:#E8E2D8;
border-radius:1rem;
display:flex;
flex-direction: column;
align-self:center;
border:1px solid rgba(255, 255, 255,0.5);
height:100%;

}

.sm-card-top, .sm-card-bottom{
    display: flex;
    flex-direction: coulmn;
    justify-items: center;

}

.svg-img{
width: 2em;
display: inline;
margin: 1rem;
padding:8px;
vertical-align: bottom;
}

.sm-card-bottom * {
    margin:auto;

}

.sm-card-top * {
    margin-bottom:1rem;
    padding-bottom:0;
}



.buttons {
text-align: center;
}

.btn-hover {
width: 200px;
font-size: 16px;
font-weight: 600;
color: #fff;
cursor: pointer;
margin: 20px;
height: 55px;
text-align:center;
border: none;
background-size: 300% 100%;

border-radius: 1rem;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:focus {
outline: none;
}


.btn-hover.color-1 {
background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
background-image: linear-gradient(to right, #2A7B9B, #48278A, #5DB6D9, #7D56CC);
box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.svg-phone{
color:white;
margin-left:auto;
}

.svg-check{
color:white;
display: inline;
margin: 1em;
vertical-align: bottom;
width:1.5em;
height:1.5em;
}


.text-button-4card-layout {
padding-bottom:2rem;
display: grid;
grid:
". . text text text text text text text text text text text text text text text text button button button button . ." 1fr
". . card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 . ." 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.text { grid-area: text; }
.button {
grid-area: button;
justify-self:end;

}
.sm-card1 { grid-area: card1; }
.sm-card2 { grid-area: card2; }
.sm-card3 { grid-area: card3; }
.sm-card4 { grid-area: card4; }

.text-button-3card-layout {
padding-bottom:2rem;
display: grid;
grid:
". text text text text text text text text button button ." 1fr
". card1 card1 card1 card2 card2 card2 card3 card3 card3 . ." 0.5fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.text { grid-area: text; }
.button { grid-area: button; }
.sm-card1 { grid-area: card1; }
.sm-card2 { grid-area: card2; }
.sm-card3 { grid-area: card3; }

.text-center-3card-layout {
padding-bottom:2rem;
position:relative;
display: grid;
grid:
". text text text text text text text text text . ." auto
". card1 card1 card1 card2 card2 card2 card3 card3 card3 . ." 0.5fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.sect3{
position:relative;
}
.center-text {
grid-area: text; }
.lg-card1 { grid-area: card1; }
.lg-card2 { grid-area: card2; }
.lg-card3 { grid-area: card3; }

.lg-card1, .lg-card2, .lg-card3, .lg-card4 {
display: grid;
grid:
"lg-card-top" auto
"lg-card-bottom" auto
/ 1fr;
gap: 8px;

background: linear-gradient(90deg,rgba(87, 146, 171, 0.3) 0%, rgba(128, 191, 152, 0.3) 50%, rgba(212, 197, 148, 0.3) 100%);
border:1px solid rgba(255, 255, 255,0.5);

color:#E8E2D8;
border-radius:1rem;
}

.lg-card-top {
justify-self:start;
padding-top:1rem;
padding-left:1rem;
grid-area: lg-card-top; }

.lg-card-bottom {
justify-self:start;
grid-area: lg-card-bottom; }

.page-borders-margin{
width:100%;
border-bottom:1px solid white;
margin-top:2rem;
margin-bottom:2rem;
}

.page-borders{
width:100%;
border-bottom:1px solid white;
}



.sect4{
position:relative;
}

.text-center-4card-layout {
padding-bottom:2rem;
display: grid;
grid:
". . text text text text text text text text text text text text text text text text text text text text . ." auto
". . card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 . ." 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.center-text {
grid-area: text; }
.sm-card1 { grid-area: card1; }
.sm-card2 { grid-area: card2; }
.sm-card3 { grid-area: card3; }
.sm-card4 { grid-area: card4; }


.form-layout {
width: 80%;
border:2px solid rgba(255, 255, 255,0.5);
border-radius:1rem;
background-color: #000000;
padding:1rem;
display: grid;
grid:
"form-name form-email" auto
"form-company form-phone" auto
"form-quanity form-due" auto
"form-notes form-notes" auto
"form-notes form-notes" auto
"form-file form-file" auto
"form-file form-file" auto
"form-submit form-submit" auto
/ 1fr 1fr;
gap: 8px;
}

.form-name { grid-area: form-name; }
.form-email { grid-area: form-email; }
.form-company { grid-area: form-company; }
.form-phone { grid-area: form-phone; }
.form-quanity { grid-area: form-quanity; }
.form-due { grid-area: form-due; }
.form-notes { grid-area: form-notes; }
.form-file { grid-area: form-file; }
.form-submit { grid-area: form-submit; }

input, textarea{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size:1.25rem;
background-color: #3d3d3d;
color:white;
}

label{
font-size:1.25rem;
}


::placeholder {
color: white;
opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
color: white;
}

.footer-link a {
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: 17px;
}

.inline-link {
color: #3396D3;
text-align: center;
text-decoration: none;
font-size: 17px;
}

.footer-link{
margin-top:1.5rem;
}

.logo-bottom{
padding:8px;
height:20vh;
}

.sect6, .sect7 {
position:relative;
}

.text-button-layout {
width: 100%;
position: relative;
display: grid;
grid:
"text-top button" auto
"text-middle text-middle" auto
"text-bottom text-bottom" auto
/ 1fr 1fr;
gap: 8px;
}

.text-top { grid-area: text-top; }
.button { grid-area: button; }
.text-middle { grid-area: text-middle; }
.text-bottom { grid-area: text-bottom; }

/* accordion */

/* Core styles/functionality */
.tab {
position: relative;
background-color: #3d3d3d;
}
.tab input {
position: absolute;
opacity: 0;
z-index: -1;
}
.tab__content {
max-height: 0;
overflow: hidden;
transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
max-height: 100%;
}

/* Visual styles */
.accordion {
width:90%;
margin:auto;
margin-top:2rem;
color: var(--theme);
border: 2px solid;
border-radius: 0.5rem;
overflow: hidden;
}
.tab__label,
.tab__close {
display: flex;
color: white;
background: var(--theme);
cursor: pointer;
}
.tab__label {
justify-content: space-between;
padding: 1rem;
}
.tab__label::after {
content: "\276F";
width: 1em;
height: 1em;
text-align: center;
transform: rotate(90deg);
transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
transform: rotate(270deg);
}
.tab__content p {
margin: 0;
padding: 1rem;
}
.tab__close {
justify-content: flex-end;
padding: 0.5rem 1rem;
font-size: 0.75rem;
}
.accordion--radio {
--theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
animation: bounce .5s infinite;
}
@keyframes bounce {
25% {
transform: rotate(90deg) translate(.25rem);
}
75% {
transform: rotate(90deg) translate(-.25rem);
}
}

.hero-nocard-layout{
position: relative;
display: grid;
grid:
". hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text ." 1fr
". hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons . . . . ." 0.25fr
". hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom" 0.25fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap:8px;
}

.hero-text { grid-area: hero-text; }
.hero-buttons { grid-area: hero-buttons; }
.hero-text-bottom{ grid-area: hero-text-bottom}

.built-for-layout {
position: relative;

margin: auto;
margin-top:2rem;
margin-bottom:2rem;
width:92%;
color:#E8E2D8;
border-radius:1rem;
border:1px solid rgba(255, 255, 255,0.5);
display: grid;
overflow:hidden;
grid:
" . header header header header header header upload-card upload-card upload-card upload-card ." 1fr
" . point1 point1 point1 point2 point2 point2 upload-card upload-card upload-card upload-card ." 1fr
" . point3 point3 point3 point4 point4 point4 upload-card upload-card upload-card upload-card ." 1fr
/ 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
gap: 8px;
}

.header { grid-area: header; }
.upload-card { grid-area: upload-card; }
.point1 { grid-area: point1; }
.point2 { grid-area: point2; }
.point3 { grid-area: point3; }
.point4 { grid-area: point4; }


.upload-card{
background: rgba(255, 255, 255,0.3);
color:#E8E2D8;
border-radius:1rem;
border:1px solid rgba(255, 255, 255,0.5);
height:100%;
margin: 2rem;
}

.text-center-6card-layout {
padding-bottom:2rem;
position:relative;
display: grid;
grid:
". text text text text text text text text text . . " auto
". card1 card1 card1 card2 card2 card2 card3 card3 card3 . ." auto
". card4 card4 card4 card5 card5 card5 card6 card6 card6 . ."auto
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}
.center-text {
grid-area: text; }
.lg-card1 { grid-area: card1; }
.lg-card2 { grid-area: card2; }
.lg-card3 { grid-area: card3; }
.lg-card4 { grid-area: card4; }
.lg-card5 { grid-area: card5; }
.lg-card6 { grid-area: card6; }

.lg-card5, .lg-card6  {
display: grid;
grid:
"lg-card-top" auto
"lg-card-bottom" auto
/ 1fr;
gap: 8px;

background: linear-gradient(90deg,rgba(87, 146, 171, 0.3) 0%, rgba(128, 191, 152, 0.3) 50%, rgba(212, 197, 148, 0.3) 100%);
border:1px solid rgba(255, 255, 255,0.5);

color:#E8E2D8;
border-radius:1rem;
}

.lg-card-top {
justify-self:start;
padding-top:1rem;
padding-left:1rem;
grid-area: lg-card-top;
display:flex;

}

.svg-img2{
background-color: #468A9A;
padding: 1rem;
border-radius: 1rem;
}
.faq-card{
width:80%;
margin-bottom:2rem;
color:#E8E2D8;
border-radius:1rem;
border:1px solid rgba(255, 255, 255,0.5);
height:100%;
}

.about-us {
width: 100%;
margin-bottom:2rem;
display: grid;
grid:
". header header header header header header header header header header ." 0.1fr
". text text text text text text text text text text ." 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.about-header { grid-area: header; }
.about-text { grid-area: text; }

.about-text{
background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
color:#E8E2D8;
border-radius:1rem;
border:1px solid rgba(255, 255, 255,0.5);
height:100%;
}

.privacy-card{
background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
color:#E8E2D8;
border-radius:1rem;
border:1px solid rgba(255, 255, 255,0.5);
height:100%;
margin-bottom:2rem;
}

li{
margin-bottom:1rem;
}


.text-button-layout {
width: 100%;

display: grid;
grid:
". top-text top-text top-text top-text top-text top-text button button button . ." 1fr
". bottom-text bottom-text bottom-text bottom-text bottom-text bottom-text bottom-text bottom-text bottom-text bottom-text ." 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 8px;
}

.top-text { grid-area: top-text; }
.button { grid-area: button; }
.bottom-text { grid-area: bottom-text; }

input[type="file"]::file-selector-button {
background-image: linear-gradient(to right, #2A7B9B, #48278A);
box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
color: white;
padding: 10px 20px;
border: none;
border-radius: 1rem;
cursor: pointer;
}

.svg-txt{
    display:flex;
}

.privacy-card{
    width:80%;
    margin:auto;
}

.privacy-card * {
    margin-left:2rem;
}

.terms-body-card{
    width:80%;
    margin:auto;
    background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
    border:1px solid white;
    border-radius:1rem;
}

.terms-card{
    width:80%;
    margin:auto;
    background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
    border:1px solid white;
    border-radius:1rem;
    margin-bottom:2rem;
}


/* responsive */

@media only screen and (max-width: 1000px) and (min-width: 781px) {

    .hero-layout {
    position: relative;
    display: grid;
    grid:
    "hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text hero-text" 1fr
    "hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons hero-buttons . . . ." 0.5fr
    "card1 card1 card1 card2 card2 card2 card3 card3 card3 ." 0.5fr
    "hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom hero-text-bottom" 0.25fr
    "fine fine fine fine fine fine fine fine fine fine"
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:8px;
    }

    .text-button-4card-layout {
    padding-bottom:2rem;
    display: grid;
    grid:
    "text text text text text text text text text text text text text text text text button button button button" 1fr
    "card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card3 card3 card3 card3 card3 card4 card4 card4 card4 card4" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    }

    .text-button-3card-layout {
    padding-bottom:2rem;
    display: grid;
    grid:
    "text text text text text text text text button button" 1fr
    "card1 card1 card1 card2 card2 card2 card3 card3 card3 ." 0.5fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    }

    .text-center-3card-layout {
    padding-bottom:2rem;
    position:relative;
    display: grid;
    grid:
    "text text text text text text text text text ." auto
    "card1 card1 card1 card2 card2 card2 card3 card3 card3 ." 0.5fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    }

    .text-center-4card-layout {
    padding-bottom:2rem;
    display: grid;
    grid:
    "text text text text text text text text text text text text text text text text text text text text" auto
    "card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card3 card3 card3 card3 card3 card4 card4 card4 card4 card4" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    }

}

@media only screen and (max-width: 780px) {

    .button{
        width:90%;
        margin:auto;
    }
    .hero-background{
        height:100%;
        width:auto;
    }
        .hero-layout {
            display:flex;
            flex-direction:column;
        }

        .hero-buttons{
            width:90%;
            margin:auto;
        }

        .sm-card1, .sm-card2, .sm-card3, .sm-card4, .sm-card5 {
            width:90%;
        display:block;
        border:1px solid rgba(255, 255, 255,0.5);
        height:100%;

        }

        .hero-text-bottom{
            display:block;
        }


        .hero-header{
            font-size:1.5rem;
        }

        h2{
            font-size:1.25rem;
        }

        .text-button-4card-layout{
            display:flex;
            flex-direction:column;

        }

        .text-button-3card-layout{
            display:flex;
            flex-direction:column;

        }

        .text-center-3card-layout{
            display:flex;
            flex-direction:column;
        }

        .text-center-4card-layout{
            display:flex;
            flex-direction:column;
        }

        .lg-card1, .lg-card2, .lg-card3, .lg-card4, .lg-card5, .lg-card6 {
            width: 90%;
            margin:auto;
        }

        .form-layout{
            display:flex;
            flex-direction:column;
        }

        .text-button-layout{
            display:flex;
            flex-direction:column;
        }

        .built-for-layout{
            display:flex;
            flex-direction:column;
        }

        .text-center-6card-layout{
            display:flex;
            flex-direction:column;
        }

        .footer{
            display:flex;
            flex-direction:column;
        }
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.form-check{
    display:flex;
    justify-content:space-evenly;
}

.form-layout-supplier {
width: 80%;
border:2px solid rgba(255, 255, 255,0.5);
border-radius:1rem;
background-color: #000000;
padding:1rem;
display: grid;
grid:
"form-name form-email" auto
"form-company form-phone" auto
"capabilities-text capabilities-text" auto
"form-check form-check" auto
"form-equip form-equip" auto
"form-industries form-industries" auto
"form-certs form-certs" auto
"form-notes form-notes" auto
"form-notes form-notes" auto
"form-file form-file" auto
"form-file form-file" auto
"form-submit form-submit" auto
/ 1fr 1fr;
gap: 8px;
}

.capabilities-text{
    grid-area: capabilities-text;
}

.form-check{grid-area:form-check;}

.form-equip{grid-area:form-equip;}
.form-industries{grid-area:form-industries;}
.form-certs{grid-area:form-certs;}

.capabilities-supplier-card{
background: linear-gradient(90deg,rgba(132, 132, 171, 0.3) 0%, rgba(160, 160, 235, 0.3) 35%, rgba(197, 226, 235, 0.3) 100%);
color:#E8E2D8;
border-radius:1rem;
display:flex;
flex-direction: column;
border:1px solid rgba(255, 255, 255,0.5);
margin-top:2rem;

}

.supplier-mid{
    display:flex;
    justify-content:space-evenly;
}

.list-cols{
    display:flex;
    padding: 1rem;
}


@media only screen and (max-width: 780px) {

    .supplier-mid{
        display:block;
        margin-top:2rem;
    }

    .form-check{
        display:block;
    }

    .form-layout-supplier {
    width: 80%;
    border:2px solid rgba(255, 255, 255,0.5);
    border-radius:1rem;
    background-color: #000000;
    padding:1rem;
    display: grid;
    grid:
    "form-name form-name " auto
    "form-email form-email" auto
    "form-company form-company" auto
    "form-phone form-phone" auto
    "capabilities-text capabilities-text" auto
    "form-check form-check" auto
    "form-equip form-equip" auto
    "form-industries form-industries" auto
    "form-certs form-certs" auto
    "form-notes form-notes" auto
    "form-notes form-notes" auto
    "form-file form-file" auto
    "form-file form-file" auto
    "form-submit form-submit" auto
    / 1fr 1fr;
    gap: 8px;
    }
}
